.place1{
    width: 50px;
    height: 50px;
    transform: translate(810px, 180px);
}
.place1 > img{
    width: 40px;
    height: 40px;
}
#myDIV{
    width: 100%;
    height: 400px;
    background-color: #FFC312;
    display: none;
}
.AfrikaTextNmop{
    width: 100%;
    height: 60px;
    margin: 10px;
    border: none;
    outline: none;
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    border: 4px solid #A3CB38;
    border-radius: 10px;
    background-color: #009432;
}.succesIN{
    position: fixed;
    display: flex;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #009432;
}
.divMapAfrika1 {
    width: 220px;
    height: 80px;
    border-radius: 12px;
    border:2px solid #009432;
    transform: translate(711px, 755px);
}
.divMapAfrika2 {
    width: 220px;
    height: 80px;
    border-radius: 12px;
    border:2px solid #009432;
    transform: translate(549px, 620px);
}
.divMapAfrika3 {
    width: 220px;
    height: 80px;
    border-radius: 12px;
    border:2px solid #009432;
    transform: translate(943px, 654px);
}
.divMapAfrika4 {
    width: 220px;
    height: 80px;
    border-radius: 12px;
    border:2px solid #009432;
    transform: translate(251px, 450px);
}
.divMapAfrika5 {
    width: 220px;
    height: 80px;
    border-radius: 12px;
    border:2px solid #009432;
    transform: translate(380px, 592px);
}
.divMapAfrika6 {
    width: 220px;
    height: 80px;
    border-radius: 12px;
    border:2px solid #009432;
    transform: translate(765px, 749px);
}
.divMapAfrika7 {
    width: 220px;
    height: 80px;
    border-radius: 12px;
    border:2px solid #009432;
    transform: translate(545px, 961px);
}
.InpAfrika{
    width: 200px;
    height: 40px;
    border-radius: 8px;
    border: none;
    outline: none;
    border: 2px solid #FFC312;
    transform: translateY(-15px);
    padding-left: 10px;
}